#service acc variables, get them from the json file

PROJECT_ID=your_project_id
PRIVATE_KEY_ID=your_private_key_id
PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----\n
CLIENT_EMAIL=your_client_email
CLIENT_ID=your_client_id
CLIENT_X509_CERT_URL=your_client_x509_cert_url

#agent
GROQ_API_KEY=your_groq_api_key
MODEL_PROVIDER=groq:qwen/qwen3-32b

#environment, used especially for logging config
ENV=dev
