#environment, used especially for logging config
ENV=dev

#service acc variables, get them from the json file
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\
CLIENT_ID=
CLIENT_X509_CERT_URL=


#postgres checkpointer
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


#agent (uncomment only one of these)

# GROQ_API_KEY=
# MODEL_PROVIDER=groq:qwen/qwen3-32b

#or

#openai
# OPENAI_API_KEY=sk-...
# MODEL_PROVIDER=

#or

#anthropic
# ANTHROPIC_API_KEY=anthropic-...
# MODEL_PROVIDER=

#or

#google
# GOOGLE_API_KEY=AIza...
# MODEL_PROVIDER=

#or

#for local serving using ollama
# OLLAMA_BASE_URL=http://host:11434 #make sure to expose the used port from docker
# MODEL_PROVIDER=ollama/llama3

