#langchain
GROQ_API_KEY=
MODEL_PROVIDER=groq:qwen/qwen3-32b

#old (no longer needed after migrating to Langchain)
MODEL_BASE_URL=https://api.groq.com/openai/v1
MODEL_NAME=qwen/qwen3-32b

#get these from the oauth credentials json file
CLIENT_ID=
PROJECT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_SECRET=
REDIRECT_URIS=["http://localhost"]
